@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

body{
    background-color: #FBCDF2;
    font-family: 'Comic Neue', cursive;
    
}
.texto-negrita{
    font-weight: bold;
    font-size: 20px;
}
.texto-normal{
    font-weight: 0;
    font-size: 20px;
}

.encabezado{
    background-image: url('../img/banner-rosquillas.jpg');
    background-repeat: repeat;
    background-size: contain;
}
.foto-presentacion{
    text-align: center;
    line-height: 0;      
}
.fondo-principal{
    background-color: rgba(243, 215, 8, 1);
}
.boton{
    line-height: 0;
    text-align: center;
}
.boton img{
    width: 220px;
}
ul{
    line-height: 200%;    
}
.titulo{
    background-color: silver;
    color: purple;
    font-size: 40px;
    text-align: center;
    letter-spacing: 5px;
    word-spacing: 10px;
}
h2{
    background-color: silver;
    color: purple;
    font-size: 30px;
    text-align: left;
    text-indent: 30px;
}
#insta{
    
    height: 60px;
    width: 60px;
    margin-left: 30px
}
#linked{
    
    height: 60px;
    width: 60px;
    margin-left: 30px;
}
#sobremi{
    background-image: url('../img/tv.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.titulo2{
    font-size: 50px;
    text-decoration: underline;
    margin-left: 320px;
    margin-top: 300px;

}
#bio{
    font-size: 20px;
    line-height: 150%;
    text-align: justify;
    margin-right: 400px;
    margin-left: 300px;
}
#alf{
    margin-left: 200px;
    width: 129px;
}